<!DOCTYPE html>
<html>
  <head>
  </head>
  
      <script type="text/javascript" src="//code.jquery.com/jquery-1.4.2.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.5/socket.io.min.js"></script>
    <script type="text/javascript" charset="utf-8"></script>
  
  <body onload="init();">
    <h1></h1>

     <p>
    <button onclick="startWebcam();">Start WebCam</button>
    <button onclick="stopWebcam();">Stop WebCam</button> 
    </p>
    <video onclick="snapshot(this);" width=400 height=400 id="video" controls autoplay></video>
  <p>

        Screenshots : <p>
      <canvas  id="myCanvas" width="400" height="350"></canvas>  
  </body>
  <script type="text/javascript">
 	  //$(document).ready(function() {
            // Use a "/test" namespace.
            // An application can open a connection on multiple namespaces, and
            // Socket.IO will multiplex all those connections on a single
            // physical channel. If you don't care about multiple channels, you
            // can set the namespace to an empty string.
	//	namespace = '/test';
            // Connect to the Socket.IO server.
            // The connection URL has the following format:
            //     http[s]://<domain>:<port>[/<namespace>]
		//var socket = io.connect(location.protocol + '//' + document.domain + ':' + location.port + namespace);
			
			// Event handler for new connections.
            // The callback function is invoked when a connection with the
            // server is established.
		//socket.on('connect', function() {
		//	socket.emit('frame', {data: frame});
		//});
	  //});



		//--------------------
      // GET USER MEDIA CODE
      //--------------------
          navigator.getUserMedia = ( navigator.getUserMedia ||
                             navigator.webkitGetUserMedia ||
                             navigator.mozGetUserMedia ||
                             navigator.msGetUserMedia);

      var video;
      var webcamStream;

      function startWebcam() {
        if (navigator.getUserMedia) {
           navigator.getUserMedia (

              // constraints
              {
                 video: true,
                 audio: false
              },

              // successCallback
              function(localMediaStream) {
                 video = document.querySelector('video');
                 video.src = window.URL.createObjectURL(localMediaStream);
                 webcamStream = localMediaStream;
              },

              // errorCallback
              function(err) {
                 console.log("The following error occured: " + err);
              }
           );
        } else {
           console.log("getUserMedia not supported");
        }  
      }

      function stopWebcam() {
        webcamStream.stop();
      }
      //---------------------
      // TAKE A SNAPSHOT CODE
      //---------------------
      var canvas, ctx;

      function init() {
        // Get the canvas and obtain a context for
        // drawing in it
        canvas = document.getElementById("myCanvas");
        ctx = canvas.getContext('2d');
      }
	  
	  //var frame_ws = new WebSocket("IP:Port");
	  //frame_ws.onopen = function () {
       //       console.log("Websocket is open");
    
	  
	  timer = setInterval(
		function snapshot() {
         // Draws current image from the video element into the canvas
			ctx.drawImage(video, 0,0, canvas.width, canvas.height);
			var frame = canvas.toDataURL("image/png");
			console.log(frame.substring(0, 50));
			namespace = '/test';
            // Connect to the Socket.IO server.
            // The connection URL has the following format:
            //     http[s]://<domain>:<port>[/<namespace>]
			var socket = io.connect(location.protocol + '//' + document.domain + ':' + location.port + namespace);
			
			// Event handler for new connections.
            // The callback function is invoked when a connection with the
            // server is established.
			socket.on('frame', function(data) {
				socket.emit('frame', frame);
		});
		
		    socket.on('message', function(data) {
                $('canvas').text(data)
        });
		
			//frame_ws.send(frame);
      }, 1000);

	  
  </script>
</html>